# Ignore compiled binary files
*.class

# Ignore build output
target/

# Ignore IDE-specific files and directories
.settings/
.classpath
.project
build/
out/


# Local configuration file (sdk path, etc)
local.properties
.properties

project.properties
*.properties
project.properties